<index:>
  <h1 class="display-4">Create a new {{typeLabel}}</h1>
  <form on-submit="createDocument()">

    <div class="form-group row">
      <label for="titleInput" class="col-sm-2 form-control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="titleInput" value="{{document.title}}" placeholder="Please enter a title.">
      </div>
    </div>

    {{if document.title}}
      <div class="form-group row">
        <label for="descriptionTextarea" class="col-sm-2 form-control-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="descriptionTextarea" rows="4"
                    placeholder="Please enter a description.">
            {{document.description}}
          </textarea>
        </div>
      </div>
      {{if document.description}}
        <button type="submit" class="btn btn-primary btn-lg col-sm-offset-2">Create!</button>
      {{/}}
    {{/}}
  </form>
