<index:>

  <input class="dvt-beta-editor-field dvt-beta-editor-title" type="text" value="{{document.title}}">

  <div>
    <textarea spellcheck="false" class="form-control dvt-beta-editor-content" rows="20" placeholder="Content goes here.">
      {{document.content}}
    </textarea>
  </div>

  <div class="row">
    <div class="col-sm-9">

      <div>
        <textarea class="dvt-beta-editor-field" rows="10">
          {{document.description}}
        </textarea>
      </div>

      <div>
        <small class="text-muted">
          <a href="https://en.wikipedia.org/wiki/Markdown#Example">Markdown</a> is supported in the description.
        </small>
        <small class="text-muted pull-right">
          {{_page.savingMessage}}
        </small>
      </div>

      {{if document.type === "vis"}}
        <view is="dataset-associator" document={{document}}></view>
      {{/}}

    </div>
    <div class="col-sm-3">

      <div class="text-xs-right">
        <a class="btn btn-primary" href="/beta/{{document.id}}">
          view
        </a>
      </div>

      {{if canDelete}}
        <div class="text-xs-right">
          <a href="/beta/{{document.id}}/delete">
            <button type="button" class="btn btn-danger">Delete</button>
          </a>
        </div>
      {{/}}
    </div>
  </div>
