<!--
  This partial provides a "New Document" button, 
  and also a modal dialog that shows a form to set the title and description.

  Curran Kelleher January 2017
-->
  
<!-- Draws from Modal example https://v4-alpha.getbootstrap.com/components/modal/ -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newDocumentModal">
  New Document
</button>

<div class="modal fade" id="newDocumentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="create" method="post">
        <div class="modal-body">
          {{> documentTitleDescriptionEditor}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
