# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# We commit yarn.lock, and ignore package-lock.json
package-lock.json

# testing
coverage

# production
build

# misc
.DS_Store
npm-debug.log
*.swp

# Nextjs
.next

.idea/
.vscode/

yarn-error.log
