<index:>
  <div class="card-block">

    <div class="row">
      <div class="col-sm-4">
        <img class="img-circle" src="{{gravatar(_session.user.email, 200)}}">
        <br>
        <small class="text-muted">
          Set up your profile image at <a href="https://en.gravatar.com/">Gravatar</a>.
        </small>
      </div>
      <div class="col-sm-8">
        <form>
          <fieldset class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" placeholder="Choose a user name." value="{{_session.user.username}}">
          </fieldset>
          <fieldset class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" disabled class="form-control" id="emailInput" value="{{_session.user.email}}">
          </fieldset>
        </form>
      </div>
    </div>

  </div>
