<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>

    {{#if dataBundle}}
      <script id="data-bundle" type="application/json">{{{dataBundle}}}</script>
      <script src="/js/client.js"></script>
    {{/if}}

    <!-- Load the Bootstrap JS stack for interactions like modal dialogs. -->
    <script src="/libs/jquery/jquery.slim.min.js"></script>
    <script src="/libs/tether/js/tether.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
