<form>
  <div class="form-group">
    <label for="title-input">Title</label>
    <input type="text" class="form-control" id="title-input">
  </div>
</form>

<script id="data-bundle" type="application/json">{{{dataBundle}}}</script>
<script src="/js/client.js"></script>
