<h1 id="doc-title">{{title}}</h1>
<p id="doc-description">{{description}}</p>
<form>

  <!-- Draws from https://v4-alpha.getbootstrap.com/components/forms/ -->
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input name="title" type="text" class="form-control" id="titleInput">
  </div>
  <div class="form-group">
    <label for="descriptionTextarea">Description</label>
    <textarea name="description" class="form-control" id="descriptionTextarea" rows="3"></textarea>
  </div>
</form>
