<div class="form-group">
  <label for="title-input">Title</label>
  <input type="text" class="form-control" id="title-input">
</div>
<div class="form-group">
  <label for="description-input">Description</label>
  <textarea class="form-control" id="description-input" rows="3"></textarea>
</div>

<script id="data-bundle" type="application/json">{{{dataBundle}}}</script>

<script src="/js/client.js"></script>
