<index:>
  <div class="card-block row">
    <h1 class="display-1 col-sm-6">{{_page.document.title}}</h1>
    <!-- <small>by {{_page.owner.username}}</small> -->
    <div class="col-sm-6 text-xs-right">
      <a href="{{_page.document.id}}/edit">
        <i class="fa fa-pencil"></i>
      </a>
      <br>
      <a href="{{_page.document.id}}/fork">
        <i class="fa fa-code-fork"></i>
      </a>
      <br>
      <a href="{{_page.document.id}}/raw">
        <i class="fa fa-arrows-alt"></i>
      </a>
    </div>
  </div>

  <div class="document-view-container">
    <iframe class="document-iframe" srcdoc="{{_page.document.content}}"></iframe>
  </div>

  <div class="card-block">
    {{unescaped marked(_page.document.description)}}
  </div>
