<index:>
  <div class="card-block">
    <form>

      <div class="form-group row">
        <label for="titleInput" class="col-sm-2 form-control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="titleInput" value="{{_page.document.title}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="descriptionTextarea" class="col-sm-2 form-control-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="descriptionTextarea" rows="3">
            {{_page.document.description}}
          </textarea>
          <small class="text-muted">
            <a href="https://en.wikipedia.org/wiki/Markdown#Example">Markdown</a> is supported.
          </small>
        </div>
      </div>

      <fieldset class="form-group">
        <label for="contentTextarea">Content</label>
        <textarea class="form-control monospace" id="contentTextarea" rows="30">
          {{_page.document.content}}
        </textarea>
      </fieldset>

      <div class="text-xs-right">
        <a href="/alpha/{{_page.document.id}}/delete">
          <button type="button" class="btn btn-danger">Delete</button>
        </a>
      </div>
    </form>
  </div>
