<import: src="./home.html">

<import: src="./rfp.html">
<import: src="./rfpsubmitted.html">

<import: src="./document.html">
<import: src="./documentEdit.html">
<import: src="./documentRaw.html">
<import: src="./documentError.html">
<import: src="./documentList.html">

<import: src="./login.html">
<import: src="./register.html">
<import: src="./chooseUsername.html">
<import: src="./confirmregistration.html">
<import: src="./registrationconfirmed.html">
<import: src="./profile.html">

<Head:>

  <!-- Responsive meta tag for mobile support, from Bootstrap Starter -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap http://v4-alpha.getbootstrap.com/ -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">
  <!-- The following is for dynamic Bootstrap behavior.
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

    https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js
  -->

  <!-- Font Awesome for icons -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css">

  <!-- Google Font for logo text. -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">

<Body:>
  <div class="container-fluid">
    <div class="card">
      <view is="header"/>
      <view is="{{$render.ns}}"/>
      <view is="footer" year="2016" />
    </div>
  </div>
  <view is="google-analytics" />

<header:>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/">
      <img class="logo-image" style="display: inline-block" src="/img/logo/Logo_Icon_32px.png">
      <span class="logo-text">Datavis</span>
      <span class="logo-text logo-subtitle">.tech</span>
    </a>

    <ul class="nav navbar-nav">
    {{if _page.hideLogin}}
      <li class="nav-item pull-right">
        <a href="/rfp">
          <button type="button" class="btn btn-primary">Hire us</button>
        </a>
      </li>
    <!--
      <li class="nav-item">
        <a class="nav-link" href="/#consulting">Consulting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#training">Training</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pull-xs-right" href="mailto:curran@datavis.tech">Contact</a>
      </li>
    -->
    {{else}}
      {{if _session.loggedIn}}
        <div class="pull-right">
          <li class="nav-item">
            <a href="/profile">
              <!-- <i class="fa fa-user"></i> -->
              <button type="button" class="btn btn-secondary">Profile</button>
            </a>
          </li>
          <li class="nav-item">
            <a href="/auth/logout">
              <!-- <i class="fa fa-sign-out"></i> -->
              <button type="button" class="btn btn-primary">Log out</button>
            </a>
          </li>
        </div>
      {{else}}
        <li class="nav-item pull-right">
          <a href="/login">
            <button type="button" class="btn btn-primary">Log in</button>
          </a>
        </li>
      {{/}}
    {{/}}
    </ul>
  </nav>

<footer:>
  <div class="card-footer text-muted text-xs-center bg-faded">
    <small>© {{@year}} Datavis Tech Inc.</small>
  </div>

<google-analytics:>
  <script>
    (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,"script","//www.google-analytics.com/analytics.js","ga");

    ga("create", "UA-73285761-1", "auto");
    ga("send", "pageview");
  </script>
