<!-- Draws from https://v4-alpha.getbootstrap.com/components/forms/ -->
<div class="form-group">
  <label for="title-input">Title</label>
  <input name="title" type="text" class="form-control" id="title-input">
</div>
<div class="form-group">
  <label for="description-input">Description</label>
  <textarea name="description" class="form-control" id="description-input" rows="3"></textarea>
</div>
