@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  /* Big thank you to this StackOverflow post:
     http://stackoverflow.com/questions/23784128/responsive-background-images-bootstrap-3 */
  background: url(images/LandingPageBackgroundImage2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;

  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;

  /* background-color: #F1F1F1; */
}

.well {
  background-color: #F9F9F9;
}
