<index:>
  <view is="what-we-do"/>
  <view is="consulting"/>
  <view is="training"/>
  <p class="text-xs-center">
    <a class="btn btn-primary btn-lg" style="margin-top: 1rem;" href="/rfp" role="button">Hire us</a>
  </p>

<what-we-do:>
  <div class="text-xs-center">
    <h1 id="what-we-do" class="display-2">We do Data Visualization</h1>
    <div class="text-muted lead dvt-home-tagline">
      A Dynamic Duo of Datavis Developers
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-sm-4 text-xs-center">
        <img class="img-circle dvt-home-person" src="/img/curran.jpg">
        <h1 class="lead dvt-home-person-greeting">Hi, I'm Curran.</h1>

        <a class="m-x-1" title="Resume" href="https://curran.github.io/portfolio/Resume.pdf"><i class="fa fa-2x fa-file-text-o"></i></a>
        <a class="m-x-1" title="LinkedIn" href="https://www.linkedin.com/in/currankelleher"><i class="fa fa-2x fa-linkedin-square"></i></a>
        <a class="m-x-1" title="GitHub" href="https://github.com/curran"><i class="fa fa-2x fa-github-square"></i></a>
        <a class="m-x-1" title="Twitter" href="https://twitter.com/currankelleher"><i class="fa fa-2x fa-twitter-square"></i></a>
        <a class="m-x-1" title="YouTube" href="https://www.youtube.com/user/currankelleher/videos"><i class="fa fa-2x fa-youtube-square"></i></a>
      </div>

      <div class="col-sm-4">
        <p> Datavis Tech offers consulting services for design and development of interactive data visualizations for the Web. We can also help with the supporting work, including user interfaces, data processing, and full-stack development. We specialize in creative, collaborative projects in which your data is visualized for the Web using D3.js and other Open Source technologies. Given a data set or API to work with, we can help you explore and present the data visually. </p>
        <div class="text-xs-center">
          <a class="btn btn-primary btn-lg" style="margin-top: 1rem;" href="/rfp" role="button">Hire us</a>
        </div>
      </div>
      <div class="col-sm-4">

        <div class="text-xs-center">
          <img class="img-circle dvt-home-person" src="/img/seemant.jpg">
        </div>

        <h1 class="lead dvt-home-person-greeting">Hi, I'm Seemant.</h1>

        <a class="m-x-1" title="Site" href="http://www.seemantk.com/"><i class="fa fa-2x fa-file-text-o"></i></a>
        <a class="m-x-1" title="LinkedIn" href="https://www.linkedin.com/in/seemantk"><i class="fa fa-2x fa-linkedin-square"></i></a>
        <a class="m-x-1" title="GitHub" href="https://github.com/seemantk/"><i class="fa fa-2x fa-github-square"></i></a>
        <a class="m-x-1" title="Google +" href="https://plus.google.com/+SeemantKulleen/posts"><i class="fa fa-2x fa-google-plus"></i></a>
        <a class="m-x-1" title="Twitter" href="https://twitter.com/seemantk"><i class="fa fa-2x fa-twitter-square"></i></a>
      </div>

    </div>
  </div>


<consulting:>
  <div class="text-xs-center m-t-3">
    <h1 id="consulting" class="display-3">Consulting</h1>
    <p> This selection of work demonstrates the flavor of consulting services available.</p>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <a href="https://github.com/curran/portfolio/blob/gh-pages/2013/UserInsightIngressDashboard.pdf?raw=true">
            <img class="card-img-top dvt-home-img-fit" src="/img/portfolio/ingressDashboard.png">
          </a>
          <div class="card-block">
            <h4 class="card-title">
              UserInsight Ingress Dashboard
            </h4>
            <p>Interactive visualization dashboard with multiple linked views for exploring user login data for enterprise computer networks. This work is in production in the Rapid7 product UserInsight, cybersecurity data analysis product. Here's a <a href="https://youtu.be/sehKgLm2TFQ?t=1m57s">video of this work in action in the product</a>.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <a href="http://curran.github.io/model/examples/d3LinkedChoropleth/">
            <img class="card-img-top dvt-home-img-fit" src="/img/portfolio/worldCountriesMap.png">
          </a>
          <div class="card-block">
            <h4 class="card-title">World Population Visualization</h4>
            <p>This interactive data visualization lets you explore the population of countries over time between 1950 and 2010. Hovering in the line chart filters the map data by year. Zooming in the map causes the line chart to show only the visible countries.</p>
            <a class="card-link" href="http://curran.github.io/model/examples/d3LinkedChoropleth/">Try it!</a>
            <a class="card-link" href="https://github.com/curran/model/tree/gh-pages/examples/d3LinkedChoropleth">Source Code</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <a href="http://bl.ocks.org/curran/a479b91bba14d633487e">
            <img class="card-img-top dvt-home-img-fit" src="/img/portfolio/migrantDeaths.png">
          </a>
          <div class="card-block">
            <h4 class="card-title">Migrant Deaths Over Time</h4>
            <p class="description">A linked bubble map and temporal histogram of migrant deaths (public data from <a href="http://www.themigrantsfiles.com/">themigrantsfiles.com</a>). Brushing in the date view filters the data shown in the map. Panning and zooming in the map filters the data shown in the time view.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <a href="http://bl.ocks.org/curran">
            <img class="card-img-top dvt-home-img-fit" src="/img/portfolio/blocks.png">
          </a>
          <div class="card-block">
            <h4 class="card-title">Open Source Visualizations</h4>
            <p class="description">A collection of <a href="http://bl.ocks.org/curran">data visualization examples hosted on bl.ocks.org</a>, the canonical host for examples demonstrating use of <a href="http://d3js.org/">D3.js</a>. These examples demonstrate specific concepts, and some are ready to be used as starting points for new data visualizations. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<training:>
  <div class="text-xs-center m-t-3">
    <h1 id="training" class="display-3">Training</h1>
    <p>The following is a selection of freely available training material for data visualization and programming.</p>

    <div class="row">
      {{each _page.training as #entry}}
        <div class="col-sm-6">
          <view is="entry-card"></view>
        </div>
      {{/each}}
    </div>
  </div>

<entry-card:>
  <div class="card">
    <a href="{{#entry.videoURL}}">
      <img class="card-img-top dvt-home-img-fit" src="{{#entry.imageURL}}">
    </a>
    <div class="card-block">
      <h4 class="card-title">{{#entry.title}}</h4>
      <p class="card-text">{{#entry.description}}</p>
      <a class="card-link" href="{{#entry.videoURL}}">Video</a>
      <a class="card-link" href="{{#entry.sourceURL}}">Source Code</a>
    </div>
  </div>
