<h1 id="doc-title">{{title}}</h1>

<iframe
  sandbox="allow-popups allow-scripts allow-forms allow-same-origin"
  srcdoc="{{srcdoc}}"
  marginwidth="0"
  marginheight="0"
  style="height:500px;border:none;"
  scrolling="no"
></iframe>

<p id="doc-description">{{description}}</p>
<a href="/{{id}}/edit">edit</a>
