.dvt-logo-image {
  padding-right: 5px;
  margin-top: -5px;
}
.dvt-logo-text {
  font-family: "Comfortaa", cursive;
}
.dvt-logo-subtitle {
  color: #3D9970;
}

.dvt-user-nav-avatar {
  margin-right: 0.4rem;
}
.dvt-user-nav-username {
  vertical-align: middle;
  margin-right: 1.2rem;
  font-weight: 400;
}

/*



.monospace{
  font-family: monospace;
}

.document-raw-container{
  position: fixed;

  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.document-view-container{
  width: 100%;
  height: 500px;
}

.document-iframe {
  border: 0px;
  width: 100%;
  height: 100%;
}
*/
