.logo-image {
  padding-right: 5px;
  margin-top: -5px;
}
.logo-text {
  font-family: "Comfortaa", cursive;
}
.logo-subtitle {
  color: #3D9970;
}

.monospace{
  font-family: monospace;
}

.img-fit{
  width: 100%;
}

/*
.snazzy-background{
  background: url("/img/LandingPageBackgroundImage2.jpg") no-repeat;
  background-size: 100%;
}
*/


.monospace{
  font-family: monospace;
}

.document-raw-container{
  position: fixed;

  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.document-view-container{
  width: 100%;
  height: 500px;
}

.document-iframe {
  border: 0px;
  width: 100%;
  height: 100%;
}

.img-fit{
  width: 100%;
}

.dvt-person {
  width: 300px;
}
.dvt-person-greeting {
  /* This causes the whole block to be centered vertically with respect to the image. */
  margin-top: 60px;
}
